pkgbase = ros-noetic-pcl-msgs
	pkgdesc = ROS - Package containing PCL (Point Cloud Library)-related ROS messages.
	pkgver = 0.3.0
	pkgrel = 2
	url = https://wiki.ros.org/pcl_msgs
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-message-generation
	makedepends = ros-noetic-sensor-msgs
	makedepends = ros-noetic-std-msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-sensor-msgs
	depends = ros-noetic-std-msgs
	source = ros-noetic-pcl-msgs-0.3.0.tar.gz::https://github.com/ros-perception/pcl_msgs/archive/89b072539778246218e94b608f9f294987bb6d0a.tar.gz
	sha256sums = eaf3f1c1bffaf248bf339b47c6d9584aeac60f62d65454f4f86a76094ae7f1ed

pkgname = ros-noetic-pcl-msgs
